.domoutput input{
    color:black;
    font-size: 1.5rem;
}
.domoutput{
    color:white;
    font-size: 1.5rem;
}

.domoutput{
    max-height:400px;
    overflow-y: auto;
    font-size: 1.5rem;
}

.domoutput button{
    background-color:#2d2d2d;
}